<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ SITEURL }}/feeds/all.atom.xml">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
</head>
<body>
    <div id="top">
        <div class="box">
            <a id="sitename" href="{{ SITEURL }}/">{{ SITENAME|replace('\n', '<br>')|safe }}</a>
            <p>A blog about software development, technology, and creative ideas.</p>
        </div>
    </div>
    
    <div class="box">
        <div id="c1">
            {% block content %}
            {% endblock %}
        </div>
        
        <div id="c2">
            <h1><a href="{{ SITEURL }}/archives.html">archives</a></h1>
            {% if SOCIAL %}
            <p>
                {% for name, link in SOCIAL %}
                <b><a href="{{ link }}">{{ name }}</a></b>{% if not loop.last %} / {% endif %}
                {% endfor %}
            </p>
            {% endif %}
            <div class="s">
                <p>{{ AUTHOR }}'s blog about software development, technology, and creative ideas.</p>
            </div>
        </div>
    </div>
</body>
</html>
